.header {
	height: 46px;
	padding: 10px 20px;
	background: #333;
}
.header h1 {
	float: left;
	vertical-align: middle;
	padding: 0;
	font-size: 32px;
	height: 26px;
	line-height: 26px;
	color: #FFF;
}
.header a,
.header a:hover {
	color: #FFF;
}
.rightNav {
	float: right;
	vertical-align: middle;
	height: 26px;
	margin: 0;
}
.rightNav li {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	padding: 0;
}
.rightNav .head {
	height: 26px;
}
.rightNav .head img {
	height: 26px;
}
