<!DOCTYPE html>
<html>
	<head>
		<title>BIGC</title>
		<meta charSet="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta httpEquiv="X-UA-Compatible" content="IE=edge"/>
		<meta httpEquiv="cache-control" content="no-store, no-cache" />
		<meta httpEquiv="pragma" content="no-cache" />
		<meta httpEquiv="expires" content="0" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="stylesheet" href='/css/gumby.css'/>
		<link rel="stylesheet" href='/css/style.css'/>
		<link rel="stylesheet" href='/build/bundle.css'/>
	</head>
	<body>
		<div id="root"><%- html %></div>
		<script type="text/javascript" charset="utf-8">window.__REDUX_STATE__ = <%- reduxState %>;</script>
		<script src="/build/bundle.js"></script>
	</body>
</html>