.dropdownMenu{
    display: block;
}
.arrow {
	position: absolute;
	left: 50%;
	margin-left: -12px;
	width: 24px;
	height: 24px;
	top: 0;
}
.arrow::before{
	content: '';
	position: absolute;
	display: block;
	width: 16px;
	height: 16px;
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .3);
	background: #fff;
	top: -8px;
	left: 50%;
	margin-left: -8px;
	transform: rotate(45deg);
}
.arrow::after {
	content: '';
	position: absolute;
	display: block;
	width: 24px;
	height: 16px;
	background: #fff;
	top: 0;
	left: 50%;
	margin-left: -12px;
}

.list {
    position: fixed;
    padding-top: 5px;
    background: #fff;
    box-shadow: 0 0 6px #666; 
    animation-duration: 0.3s;
    animation-name: rcDropdownSlideUpIn;
    animation-play-state: running;
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
    z-index: 2001;
	margin-top: 15px;
}
.item {
	position: relative;
	min-width: 60px;
	text-align: center;
	cursor: pointer;
	color: #333;
}
.item:hover {
	background: #d8f3fd;
}
@keyframes rcDropdownSlideUpIn {
    0% {
      opacity: 0;
      transform-origin: 0% 0%;
      transform: scaleY(0);
    }
    100% {
      opacity: 1;
      transform-origin: 0% 0%;
      transform: scaleY(1);
    }
}