.close {
    height: 38px;
    width: 58px;
    position: absolute;
    right: -58px;
    top: 0;
    cursor: pointer;
}

.close:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '\d7'; /* use the hex value here... */
    font-size: 30px; 
    color: #8a8a8a;
    text-align: center;
}
.article-image {
    max-width: 100%;
}
.block {
    position: relative;
}
.loading-preset {
    background: #E7E7E7;
    width: 100%;
    height: 352px;
}
.loading-preset.audio {
    width: 300px;
    height: 150px;
    margin: 0 auto;
    position: relative;
}
.mask-block {
    display: inline-block;
    position: relative;
}
.mask{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.6);
}
.title {
    width: 300px;
    overflow : hidden;
    text-overflow : ellipsis;
    white-space : nowrap;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;-o-user-select:none;
}
.mid-block {
    width: 300px;
    position: relative;
    margin: 0 auto;
}

.play-icon{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 50%;
    top: 50%;
    margin-left: -30px;
    margin-top: -30px;
}
.play-icon.video{
    background: url('./icon_play.png');
}
.play-icon.audio{
    background: url('./icon_trumpet.png');
}
.linkBlock{
    
}
.tag104{

}