.droplist {
	line-height: 1;
	position: relative;
}
.list {
    position: absolute;
    padding-top: 5px;
    background: #fff;
	border: 1px solid #34a8c4;
    animation-duration: 0.3s;
    animation-name: rcDropdownSlideUpIn;
    animation-play-state: running;
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
    z-index: 2001;
	width: 150px;
	padding-bottom: 5px;
	top: 100%;
}
.listInput {
	position: relative;
	cursor: pointer;
	width: 150px;
	border: 1px solid #d0d0d0;
	color: #d0d0d0;
	border-radius: 3px;
	background: #fff;
	text-align: left;
	font-size: 14px;
	padding: 6px 0 6px 15px;
	
}
.list li {
	width: 100%;
	padding: 6px 0 6px 15px;
	font-size: 14px;
	cursor: pointer;
	color: #333;
}
.list li:hover {
	background: #def6ff;
}
.droplist i {
	margin-right: 10px;
	color: #888;
}
.caret-down {
	position: absolute;
    right: 6px;
	top: 50%;
	margin-top: -3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 5.5px 0;
    border-color: #888 transparent transparent;
}
.listInput.active {
	border: 1px solid #34a8c4;
	color: #333;
}
.listInput.disabled {
	border: 1px solid #e5e5e5;
	background: #f4f4f4;
	color: #8a8a8a;
}