.list {
    position: absolute;
    padding-top: 5px;
    background: #fff;
	border: 1px solid #34a8c4;
    animation-duration: 0.3s;
    animation-name: rcDropdownSlideUpIn;
    animation-play-state: running;
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
    z-index: 2001;
	width: 150px;
	padding-bottom: 5px;
}
.listInput {
	position: relative;
	cursor: pointer;
	width: 150px;
	border: 1px solid #d0d0d0;
	color: #d0d0d0;
	border-radius: 3px;
	background: #fff;
	text-align: left;
	padding-left: 15px;
}
.list li {
	width: 100%;
	padding-left: 15px;
	font-size: 16px;
	cursor: pointer;
	color: #333;
}
.list li:hover {
	background: #def6ff;
}
.droplist i {
	margin-right: 10px;
}
.caret-down {
	position: absolute;
	right: 0px;
    top: 5px;
}
.listInput.active {
	border: 1px solid #34a8c4;
	color: #333;
}
.listInput.disabled {
	border: 1px solid #e5e5e5;
	background: #f4f4f4;
	color: #8a8a8a;
}