.error.input input, .error.input textarea{
	border:1px solid #E12F1C;
}
input, textarea{
	padding:10px;
	border:1px solid #ccc;
	border-radius: 2.5px;
	font-size: 16px;
	outline: 0;
	resize : none;
	overflow: hidden;
}
input:focus, textarea:focus{
	border: 1px solid #2881d4;
}
.errorMessage {
	color: #E12F1C;
	font-size: 14px;
	position: absolute;
	bottom: -30px;
	left: 0;
}
.maxWord {
	position: absolute;
	right: 10px;
	bottom: -30px;
}
.input {
	display: inline-block;
	position: relative;
}
.input input, .input textarea {
	width: 100%;
}